# Ignore a blackhole
node_modules/
.vs/

# Ignore heapsnapshot and log files
*.heapsnapshot
*.log

# Ignore package locks
package-lock.json

# Ignore Yarn files
.yarn/install-state.gz
.yarn/build-state.yml
